body{
    background-image: url(../../assets/images/theLostSanctum.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card{
    margin-bottom: 50px;
    background: transparent;
    border: 2px dashed white;
    color: white;
   
}


.game-container{
    padding: 15px;
    margin: auto;
    width: 50%;
    border: 3px dashed whitesmoke;
    background: rgb(0, 0, 0, 0.9);
    
}


.currentWord{
    width: 50%;
    padding-bottom: 1rem;
    border: 2px dashed white;
    color: white;
    background: rgb(0, 0, 0, 0.9);
    animation: glow 2s infinite alternate;
}

@keyframes glow{
    from{
        box-shadow: 0 0 5px -5px gold ;
    }
    to{
        box-shadow: 0 0 5px 5px gold;
    }
}


.letters{
    width: 50%;
    height: 6rem;
    border: 2px dashed white;
    color: white;
    background: rgb(0, 0, 0, 0.9);
    animation: glow 2.5s infinite alternate;
}

.total-wins{
    width: 50%;
    padding-bottom: 1rem;
    border: 2px dashed white;
    color: white;
    background: rgb(0, 0, 0, 0.9);
}

.total-losses{
    width: 50%;
    padding-bottom: 1rem;
    border: 2px dashed white;
    color: white;
    background: rgb(0, 0, 0, 0.9);
    animation: glow 3s infinite alternate;
}

