body{
    background-image: url(../../assets/images/theLostSanctum.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card{
    margin-bottom: 50px;
    background: transparent;
    border: 2px dashed white;
    color: white;
}
    


.game-container{
    padding: 15px;
    margin: auto;
    width: 50%;
    background: rgb(0, 0, 0, 0.9);
}

.currentWord{
    width: 50%;
    padding-bottom: 1rem;
    border: 2px dashed white;
    color: white;
    background: rgb(0, 0, 0, 0.9);
}

.letters{
    width: 50%;
    height: 6rem;
    border: 2px dashed white;
    color: white;
    background: rgb(0, 0, 0, 0.9);
}

.total-wins{
    width: 50%;
    padding-bottom: 1rem;
    border: 2px dashed white;
    color: white;
    background: rgb(0, 0, 0, 0.9);
}

.total-losses{
    width: 50%;
    padding-bottom: 1rem;
    border: 2px dashed white;
    color: white;
    background: rgb(0, 0, 0, 0.9);
}

